* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1 {
  padding: 50px;
  display: block;
  float: none;
  text-align: center;
  margin-bottom: 20px;
  color: #51b214;
  text-transform: uppercase;
}

.container {
  padding: 20px;
}

#error {
  font-size: 12px;
  margin-bottom: 15px;
}
